<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="itumRadio.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="itumRadio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <itumRadio.Properties.UserSettings>
            <setting name="stationIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="volumeIndex" serializeAs="String">
                <value>50</value>
            </setting>
        </itumRadio.Properties.UserSettings>
    </userSettings>
    <applicationSettings>
        <itumRadio.Properties.Settings>
            <setting name="defaultStation" serializeAs="String">
                <value>CKAU</value>
            </setting>
        </itumRadio.Properties.Settings>
    </applicationSettings>
</configuration>