<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <Component Id="cmp0E95DE1B65683CBCEB72A04D77158759" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filA54A6C903F044213943072C532E4C96E" KeyPath="yes" Source="$(var.SetupItumRadioDir)\itumRadio.exe" />
            </Component>
            <Component Id="cmp89B670F37FFEADD363AA1A4020D665D3" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil962D4BB51CECB67FB3ED0DCBAC3FFB2D" KeyPath="yes" Source="$(var.SetupItumRadioDir)\itumRadio.exe.config" />
            </Component>
            
            <Component Id="cmp27222BC14E7021EF49B05F9D623D46F8" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil58AB09BE292C425E432EAA859B728F03" KeyPath="yes" Source="$(var.SetupItumRadioDir)\itumRadio.vshost.exe" />
            </Component>
            <Component Id="cmp7BF8C624EBB325E9A3D14732B99BD937" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil82BB84EB3331D49DBD453901B26F0786" KeyPath="yes" Source="$(var.SetupItumRadioDir)\itumRadio.vshost.exe.config" />
            </Component>
            <Component Id="cmp1A88241A11B35ABBDD5F1FF554B7432A" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil0FDD9556BBA9D941AB590830C4776910" KeyPath="yes" Source="$(var.SetupItumRadioDir)\itumRadio.vshost.exe.manifest" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.SetupItumRadioDir)\Newtonsoft.Json.dll" />
            </Component>
            
        </ComponentGroup>
    </Fragment>
</Wix>